/* @override 
	http://ics.com/css/app.css */


/* GLOBAL STYLES */
.inline-block {
	display: inline-block !important;
}
.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.no-margin {
	margin: 0 !important;
}
.centered-button {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 225px;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.underline {
	border-bottom: 1px solid #E7E6E2;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.red-text {
	color: #ff0000 !important;
}

.green-text {
	color: #399640 !important;
}

.teal-text {
	color: #3A9E92 !important;
}

.royal-text {
	color: #000099 !important;
}

.blue-text {
	color: #277FB3 !important;
}

.purple-text {
	color: #4D14B6 !important;
}

.pink-text {
	color: #CE009F !important;
}

.orange-text {
	color: #EA812C !important;
}

.radio-2 {
	display: block;
	width: 50%;
	float: left;
	position: relative;
	padding-left: 20px;
	overflow: hidden;
	margin-bottom: 10px;
}
.radio-2 input {
	display: block;
	position: absolute;
	left: -18px;
	top: 0;
}
/* ARTICLE LISTINGS */
#articles {
	margin-bottom: 40px;
}
.article-nav {
	display: none;
}
@media screen and (min-width: 768px) {
	.pagination-wrapper.article-pagination ul.pagination {
		display: none;
	}
	.article-nav {
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.article-nav a {
		position: absolute;
		top: 20px;
		height: 200px;
		line-height:200px;
		background: #fff;
		padding: 0 20px;
		color: #666;
		font-size: 40px;
		border: 1px solid #ECEBE8;
	}
	
	.article-nav .article-prev {
		left: 0px;
	}
	
	.article-nav .article-next {
		right: 0px;
	}
	.article-nav a:hover {
		background: #ECEBE8;	
	}	
}
.article-item {
	margin-bottom: 30px;
}
.article-item img {
	display: block;
	max-width: 100%;
}
.owl-item .article-item img {
	width: 100%;
}
.article-item .article-meta a {
	color: #666;
	text-decoration: none;
	font: normal 0.875em/1.3em "OpenSans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.article-item .article-meta a:first-child {
	margin-right: 10px;
}
.article-item .article-meta a:hover {
	color: #fe0000;
}
.article-title {
	display: block;
	text-decoration: none;
	color: #000B39;
	font: 500 1.125em/1.4em "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
}
.recent-articles .article-title {
	margin-bottom: 20px;
}

.recent-articles h5 {
	clear: both;
	margin-top: 30px;
}

.recent-articles .button.clear-button {
	margin: 40px auto;
	display: block;
	width: 150px;
	font: normal .8em/1.25em "OpenSans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* CAROUSEL ITEMS */
.item {
	margin: 10px;
}

/* SEARCH CONTROLS */
.search-controls {
	margin-bottom: 20px;

}

.search-controls.bordered > .row,
.blog-posts {
	margin-bottom: 20px !important;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}


.search-controls label,
.search-controls .select {
	display: inline-block;
	margin: 0;
	width: auto;
	text-transform: uppercase;
	font: normal 12px/1.5em "Raleway","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.search-controls label {
	margin-right: 10px;
}
.search-controls .select {
	min-width: 150px;
	background-color: #fff;
	border-color: #E7E6E2;
	padding-left: 20px;
}

#advanced-search {
	text-decoration: none;
}

#advanced-search span:not(.fa-stack) {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 0.75rem;	
	line-height: 2rem;
}

#advanced-search-form {
	max-height: 0;
	padding: 0 20px;
	margin: 0;
	overflow-y: hidden;
	transition: all 500ms ease-out;
}

#sort-search-form {
	padding:0;
	background:none;
	margin:0px;
	border:none;
}

.search-controls.show-advanced + #advanced-search-form {
	visibility: visible;
	max-height: 700px;
	padding: 20px;
	margin-bottom: 40px;
}

.search-controls.show-advanced #advanced-search .fa-search:before {
	content: "\f010";
}


/* SIDEBAR MENU */

ul.sidebar-menu {
    margin: 0 0 30px;
    list-style: none;
    
}

ul.sidebar-menu li {
    display: block;
    padding: 3px 0;
}

ul.sidebar-menu li a {
    color: #242639;
    position: relative;
    display: block;
    padding: 0 10px 0 20px;
    height: 60px;
    line-height: 58px;
    background: #F8F7F6;
    text-decoration: none;
    text-transform: uppercase;
}
ul.sidebar-menu li.active a,
ul.sidebar-menu li:hover a,
ul.sidebar-menu li:focus a {
    background: #E7E6E2;
}

@media screen and (min-width: 1024px) {
	ul.sidebar-menu li:hover a:after,
	ul.sidebar-menu li.active a:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    border: inset 12px;
		border-color: transparent #E7E6E2 transparent transparent !important;
		-moz-border-right-colors: #E7E6E2;
	    border-left-style: solid;
	    margin-right: 0.9375rem;
	    margin-top: -12px;
	    position: absolute;
	    top: 50%;
	    left: -23px;
	    z-index: 1;
	    transition: all 300ms ease-out;
	    opacity: 0.0;
	}
	
	ul.sidebar-menu li:hover a:after,
	ul.sidebar-menu li.active a:after {
		opacity: 1;
	}
	
	
}
/* GRID BOXES */
.grid-box {
	text-align: center;
	padding-bottom: 40px;
	background-color: #F8F7F6;
	margin-top: 40px;
	min-height: 500px;
}
.grid-box p {
	font: normal 1em/1.7em "OpenSans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}
.grid-box p.lead {
	font: 300 1.4375em/1.69em "Raleway",  "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #242739;
	padding: 10px 20px;
	text-align: left;
}
.grid-box h3 {
	font-size: 20px;
	color: #242639;
}
.grid-box .icon-circle {
	display: block;
	margin: 0px auto 20px;
}

.grid-box.grid-header {
	padding: 0;
	text-align: left;
	background: #fff;
	border: 1px solid #eee;
}

.columns .grid-box:first-child {
	margin-top: 0;
}

.grid-box.grid-header .grid-header-img {
	display: block;
	width: 100%;
}
.grid-box.grid-header h3 {
	margin: 30px 20px 5px;
	font-size: 24px;
}

.grid-box.grid-header h3 .fa {
	font-size: .75em;
	position: relative;
	top: -2px;
}
.grid-box.grid-header p {
	padding: 0 20px 20px;
	font: normal 1.125em/1.6em "OpenSansLight", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}
/* HEADER */

/* NAV / MENUS */

	/* main nav */
	
	/* mobile nav overrides */

	/* sidebar nav */

	


/* INTRO SECTION */
#intro-section {
    position: relative;
    padding: 100px 0 50px 0;
    background: #E7E6E2;
    margin-bottom: 75px;
    overflow: hidden;
	min-height: 100px;
}

#intro-section .intro-section-title {
    background: #24283A;
    color: #fff;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
#intro-section .intro-section-title h1 {
	color: #fff;
	line-height: 75px;
}
#intro-section img.intro-img {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 0;
	display: none;
	min-width: 1440px;
	min-height: 500px;
}


.homepage #intro-section .intro-section-title .intro-title {
    color: #fff;
    line-height: 100px;
    margin: 0;
}

#intro-section h2 {
    margin: 50px 0 20px 0;
    border: none;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.65);
}

#intro-section p {
    font-family: "Raleway";
    font-size: 22px;
    color: #313131;
}

#intro-section.homepage-intro {
	min-height: 950px;
	margin-top: -150px;
	height: auto !important;
	min-height: 0;
	padding-bottom: 0;
	max-height: 100vh;
}
#intro-section.homepage-intro img.homepage-img {
	margin-top: -100px;
	min-width: 100%;
}	



#intro-section .intro-section-form {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(36, 40, 60, 0.6);
	z-index: 1;
	padding: 40px 0;
}
#intro-section .intro-section-form label {
	color: #fff;
	font: 600 30px/1.75em "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#intro-section #intro-caption {
	position: absolute;
	top: 270px;
	left: 0;
	right: 0;
}

#intro-section #intro-caption  p{
	font: bold 100px/1em "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	color: #fff;
	transition: all 300ms ease-out;

}
@media screen and (max-width: 1280px) {
	#intro-section #intro-caption p {
		font-size: 60px;
	}
	#intro-section #intro-caption {
		top: 200px;
	}
}
@media screen and (max-width: 1024px) {
	#intro-section {
		padding-bottom: 0;
		margin-bottom: 40px;
	}

	#intro-section > .row > .columns {
		padding: 0 20px 30px !important;
	}
	#intro-section > .row > .columns h2 {
		margin-top: 20px;
	}
	#intro-section .intro-section-title h1 {
		font-size: 1.5rem;
		height: 100px;
	}
	#intro-section #intro-caption {
		top: 140px;
		left: 20px;
	}
	
	#intro-section #intro-caption p {
		font-size: 50px;
	}
	
}
#intro-section.header-blank {
    background: #24283A;
	margin-bottom: 40px;	
	padding-bottom:0 ;
	height: auto;
	min-height: 0;

}

@media screen and (max-width: 768px) {
	#intro-section #intro-caption,
	#intro-section .intro-section-form {
		display: none;
	}
}


@media only screen and (min-width: 64.063em) {
	
	#intro-section .intro-section-title {
	    background: rgba(36, 40, 58, 0.8);
	}
		
/*	#intro-section.header-about {
	    background-color: #f5f5f5;
	    background-image: url('../img/header-about.jpg');;
	}
	#intro-section.header-meeting {
	    background-color: #DFD6D2;
	    background-image: url('../img/header-meeting.jpg');
	}
	#intro-section.header-submit-job {
	    background-color: #DFD6D2;
	    background-image: url('../img/header-submit-job.jpg');
	}
	#intro-section.header-find-talent {
	    background-color: #B4D4DC;
	    background-image: url('../img/header-find-talent.jpg');
	}*/
	#intro-section img.intro-img {
		display: block;
		width: 100%;
		min-height: 100%;
	}	
}

@media screen and (min-width: 1440px) {
	#intro-section img.intro-img {
		display: block;
		height: auto;
		min-width: 100%;
	}		
}


/* CONTENT SECTION */
#content-section,
#content-section .row,
#content-section .columns {
	position: static;
}

/* SERVICES */
#services {
	
}

#services .service {
	margin-bottom: 40px;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}

#services .service img {
	display: block;
	width: 100%;
	height: auto;
}

#services .service h3 {
	margin: 0 0 15px;
}
@media screen and (max-width: 64em) {
	#services .service h3 {
		margin: 20px 0 10px;
	}
}

#services .expandable {
	max-height: 0;
	margin: 0;
	overflow-y: hidden;
	transition: all 500ms ease-out;
}

#services .expandable.expanded {
	visibility: visible;
	max-height: 700px;
	margin: 0 0 20px 0;
}

#services .expandable.expanded + .button .fa:before {
	content: "\f068";
}


/* TABLES */

/* FOOTER */
footer.wide-footer {
	background: #E7E6E2;
	margin: 80px 0 0 0;
	padding: 75px 0 40px 0;
}
footer h3 {
	font-weight: bold;
	font-size: 18px;
}
footer ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}
footer ul li {
	font-family: "OpenSansLight";
	
}
footer a {
	text-decoration: none;
	color: #242739;
}
footer a:hover,
footer a:focus {
	color: #ff0000;
}

footer #locations-list {
	margin: 50px auto 40px;
	text-align: center;
}
footer #locations-list li {
	text-align: center;
	display: inline;
	position: relative;
	font-family: "Raleway";
	font-size: 18px;
}

footer #locations-list li.separator {
	display: inline-block;
	width: 30px;
	height: 100%;
	padding: 0 10px;

}
footer #locations-list li.separator:before {
	content: "\f111";
	font-family: "FontAwesome";
	color: #ff0000;
	font-size: 8px;
	position: relative;
	top: -4px;
}
footer #locations-list li:first-child:after {
	display: none;	
}

/* TAGS */
.tags {
	padding-bottom: 20px;
	border-bottom: 1px solid #E7E6E2;
}
.tags .fa {
	color: #333F4F;	
}
.tags li {
	margin-left: 10px;
}
.tags li a {
	font: normal 13px/1.2em "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #242739;
	text-decoration: none;
	background: #F8F7F6;
	padding: 5px 10px;
}

.tags li a:hover {
	color: #F8F7F6;
	background: #242739;
}

/* SOCIAL ICONS (bottom of article/page & footer */
#social-icons {
	margin: 20px auto;
	text-align: center;
	font-size: 18px;
}

#social-icons.border-bottom {
	padding-bottom: 20px;
	border-bottom: 1px solid #E7E6E2;	
}
#social-icons li {
	text-align: center;
	display: inline;
	position: relative;
	font-size: 14px;
}
#content-section #social-icons {
	font-size: .75em;
	text-align: left;
}

#content-section #social-icons .icons-title {
	font-size: 13px;
	letter-spacing: 1px;
	color: #242739;
	height: 30px;
	line-height: 28px;	
}
#social-icons a {
	text-decoration: none;
	color: #242739;	
}
#social-icons a:hover,
#social-icons a:focus {
	color: #ff0000;
}

/* COMMENTS */
#comments {

}

#comments .comment {
	padding: 20px;
	border: 1px solid #E7E6E2;	
	margin-bottom: 20px;
}

#comments .comment .author {
	font: 600 13px/1.2 "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #242639;
	margin-bottom: 10px;
}

#comments .comment p {
	font: normal 14px/1.5 "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;	
	margin-bottom: 10px;
}
#comments .comment .comment-date {
	float: right;	
	font-weight: 500;
}


#comments .comment .comment-reply {
	font: normal 14px/1.5 "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
	display: block;
}

#comments .comment .reply-count {
	font: 600 13px/1.2 "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #242639;
	margin-bottom: 15px;
	
}

#comments .comment .reply-comment {
	background: #F8F7F6;
	padding: 10px;
	margin-top: 10px;
}


#copyright {
	background: #E7E6E2;
	padding: 50px 0 35px;
	border-top: 1px solid #A1A19E;
	border-color: rgba(161, 161, 158, 0.5);
	color: #9F9F9E;
	font: normal 14px/1.5em "OpenSans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}
#copyright p {
	color: #9F9F9E;
	font: normal 14px/1.5em "OpenSans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	
}
#copyright a {
	color: #9F9F9E;
	text-decoration: none;
}

#copyright a:hover,
#copyright a:focus {
	color: #fe0000;
}


/* FORM OVERRIDES */
form {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	background: #F8F7F6;
	clear: both;
	overflow: hidden;
}

form.transparent {
	background: none !important;
	border: none;
}
form.sidebar-form {
	padding-top: 0;
}
form.dark-form {
	background: #24283A;
	color: #fff;
	border: none;
	margin-bottom: 30px;
}
form label {
	font: 500 .75em/1.2em "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #242639;
	text-transform: uppercase;
	margin: 0 0 5px;
	position: relative;
}
form label.input {
	padding-left: 20px;
}
form label input[type=checkbox],
form label input[type=radio] {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
form.dark-form label {
	color: #eee;
}

form h3 {
	margin: 0 0 20px;
	font-size: 1.5rem;
}

form select {
	background-color: #fff;
	text-transform: uppercase
	;
}
form.dark-form h3 {
	color: #fff;
}
form.light-form  {
	margin-top: 40px;
}
form.light-form h3 {
	color: #242639;
}

.button.postfix {
	width: 45px;
	border-radius: 45px;
	line-height: 43px;
	margin: 0 auto;
	display: block;
	text-transform: uppercase;
	height: 45px;
	padding: 0;
	color: #fff;
}
.button.postfix .fa {
	color: #fff;
}
form textarea {
	resize: vertical;
	min-height: 200px;
}

form .button {
	text-transform: uppercase;
	padding-top: 0.875rem;
	padding-right: 1rem;
	padding-bottom: 0.875rem;
	padding-left: 1rem;
	font-size: 1rem;
	margin-bottom: 0;
	width: 100%;
}

.homepage form .button.arrow-right {
	margin: 0px 25px 0px auto;
	line-height: 1.1;
}

form .text-link {
	font-size: 12px;
	color: #eee;
}

form .button-wrapper {
	display: inline-block;
	position: relative;
	float: left;
	width: 20%;
	overflow: hidden;
	margin: 0 0 20px;
}

form .button-wrapper input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

form .button-wrapper .button {
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
}
form .upload-panel {
	padding: 20px 20px 0;
	border: 1px solid #E7E6E2;
	margin-bottom: 20px;
}
form .upload-panel .upload-text {
	display: block;
	width: 38%;
	margin: 0 1%;
	float: left;

}
form .upload-panel .upload-msg {
	display: block;
	width: 18%;
	margin: 10px 0 1% 0;
	float: left;
	font: 500 12px/1.3 "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
form .upload-panel .upload-button {
	display: block;
	width: 19%;
	margin: 0 0 0 1%;
	float: right;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	form .button-wrapper {
		display: block;
		position: relative;
		float: left;
		width: 50%;
		overflow: hidden;
		margin: 0 0 10px;
	}
	
	form .button-wrapper input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
	}
	
	form .button-wrapper .button {
		position: relative;
		z-index: 0;
		display: block;
		width: 100%;
	}
	form .upload-panel .upload-text {
		float: left;
		width: 48%;
		margin: 0 0 10px 2%;
	}
	
	form .upload-panel .upload-msg {
		float: none;
		width: 100%;
		margin: 0;
		clear: both;
	}
	form .upload-panel .upload-button {
		float: right;
		margin-bottom: 10px;
		width: 150px;
	}
	
}


@media screen and (max-width: 768px) {
	form .upload-panel .upload-text {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}
	form .button-wrapper {
		display: block;
		position: relative;
		float: left;
		width: 100%;
		overflow: hidden;
		margin: 0 0 10px;
	}
	
	form .button-wrapper input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
	}
	
	form .button-wrapper .button {
		position: relative;
		z-index: 0;
		display: block;
		width: 100%;
	}
	
	form .upload-panel .upload-msg {
		float: none;
		width: 100%;
		text-align: center;
	}
	form .upload-panel .upload-button {
		float: none;
		margin:0 0 10px;
		width: 100%;
	}
	
}




small.inline-input {
	display: block;
	margin: 0 0 5px;
	font-size: 13px;
}
small.inline-input input,
small.inline-input label {
	display: inline-block;
	font-size: inherit;
	margin: 0;
}
small.inline-input label {
	margin-left: 10px;
	margin: 5px 0 10px;
}

@media screen and (max-width: 768px) {
	small.inline-input {
		margin-bottom: 20px;
	}
	small.inline-input label {
		display: block;
	}
	form .button.arrow-right {
		max-width: none !important;
		width: 100%;
		float: none;
		margin-right:0 !important ;
	}
	form .button.arrow-right:after {
		display: none;
	}
}
/* BUTTON STYLES */
	
	/* round 'go' button */
	
	/* right arrow button */
	.button.arrow-right {
		display: block;
		width: 80%;
		transition: border-left-color 300ms ease-out;
		margin-right:-1.4375rem;
		height: 48px;
		padding: 0 15px;
		line-height: 46px;
		font-size: 20px;
	}
	
	.panel .button.arrow-right,
	form .button.arrow-right {
		max-width: 250px;
		margin: 10px 25px 10px auto;
		text-transform: uppercase;
	}
	div.panel .button.arrow-right {
		max-width: none;
	}
	.panel .button.arrow-right .fa,
	form .button.arrow-right .fa {
		line-height: 46px;
		margin-right: 5px;
		vertical-align: top;
		
	}
	
	.button:not(.clear-button):hover:after,
	.button:not(.clear-button):focus:after {
		 border-left-color: #cb0000 !important;
	}
	
	.button:not(.clear-button).arrow-right:after {
		left:100%;
		top:50%;
		border:solid transparent;
		content:" ";
		height:0;
		width:0;
		position:absolute;
		pointer-events:none;
		border-color:rgba(254,0,0,0);
		border-left-color:#FE0000;
		border-width: 1.4375rem;
		margin-top:-1.4375rem
	}
	
	/* down arrow button */
	.button.arrow-down {
		width: 150px;
		transition: border-color 300ms ease-out;
		padding: 0.5rem 0 0.125rem;
	}
	
	.button.arrow-down:after {
		top:100%;
		left:50%;
		border: solid transparent;
		content:" ";
		height:0;
		width:0;
		position:absolute;
		pointer-events:none;
		border-style: solid;
		border-color: #fe0000 transparent transparent transparent;
		border-width: 10px 75px 0 75px;
		margin-left: -75px
	}
	.button.arrow-down:hover:after {
		border-color: #cb0000 transparent transparent transparent !important;
	}
	
	
	/* transparent w/ icon button */
	.button.clear-button {
		background: #fff;
		border: 1px solid #E7E6E2;
		margin-bottom: 0;
		padding: .625rem 1.5rem;
		color: #242739;
		text-transform: uppercase;
		font-size: 0.875rem;
		letter-spacing: 1px;
	}
	.button.clear-button:hover,
	.button.clear-button:focus {
		background: #E7E6E2;
	}
	.button.clear-button.arrow-right {
		display: block;
		width: 95%;
		font-size: 17px;
		line-height: 55px;
		height: 56px;
		padding: 0 10px;
		margin: 0 auto 5px;
		float: none !important;
		clear: both !important;
	}
	.button.clear-button.arrow-right .fa {
		vertical-align: middle;
	}
	.button.clear-button.arrow-right .fa.fa-clock-o {
		font-size: 30px;		
	}
	.button.clear-button.arrow-right .fa.fa-paper-plane {
		font-size: 25px;		
	}
	
	.button.clear-button.arrow-right:after {
		left:100%;
		top:50%;
		border:solid transparent;
		content:" ";
		height:0;
		width:0;
		position:absolute;
		pointer-events:none;
		border-color:rgba(254,0,0,0);
		border-left-color:#fff;
		border-width: 27px;
		margin-top: -27px
	}
	
	.button.clear-button.arrow-right:before {
		left:100%;
		top:50%;
		border:solid transparent;
		content:" ";
		height:0;
		width:0;
		position:absolute;
		pointer-events:none;
		border-color:rgba(254,0,0,0);
		border-left-color:#ddd;
		border-width: 28px;
		margin-top:-28px
	}
	.button.clear-button.arrow-right:hover:after,
	.button.clear-button.arrow-right:hover:before {
				border-left-color:#e5e5e5;
		
	}
	
/*
**
** PAGE SPECIFIC OVERRIDES 
**
*/

/* HOMEPAGE */
.homepage h1 {
	font-size: 58px;
}

#shaded-section {
	background: #f8f7f6;
	padding: 60px 0 40px;
	margin-top: 40px;
}

#shaded-section + footer.wide-footer {
	margin-top: 0;
}

#shaded-section h2,
#shaded-section p {
	text-align: center;
}

#shaded-section p a {
	color: #063046;
}

#shaded-section h2 {
	color: #063046;
	border: none;
	font-size: 44px;
}

#shaded-section p {
	text-align: center;
}

#shaded-section .grid-box h3 {
	font: 300 18px/1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 20px;
}

/* FIND A JOB */

/* JOB POST PAGE */
.job-post-wrapper {
	margin-bottom: 40px;
	padding: 1.25rem;
	color: #333333;
	background: #F8F7F6;
}
form .job-post-wrapper {
	padding: 0;
}
.job-post-wrapper  .cta-button {
	margin-bottom: 20px;
	margin-top: -30px;
	padding: 0.625rem 0.5rem;
}
.job-post-wrapper  h2 {
	border: none;
}
.job-post-list {
	list-style: none;
	margin: 0;
}

.job-post-list li {
	list-style: none;
	padding: 10px;
	font-size: 18px;
	font: normal 1em/1.5em "Raleway", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

.job-post-list li:nth-child(even) {
	background: #ECEBE8;
}

.job-post-list strong {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	font-weight: 600;
}

.job-post-contact {
	text-align: center;
	padding-top: 40px;
}
.job-post-contact img.job-contact-pic {
	display: block;
	margin: 0 auto;
	border-radius: 100px;
}
.job-post-contact .button {
	margin-top: 20px;
}



/* ABOUT */


/* CAREER CENTER */
/* CAREER CENTER*/

.career-center  h3 {
	font-size: 2rem;
}
.career-center  h5 {
	margin-top: 0;
}
.career-center .article-item {
	padding: 10px 0;
	min-height: 150px;
}
.career-center .article-title {
	font-size: 1.125rem;
	margin-bottom: 5px;
}
.career-center .article-img {
	float: left;
	margin: 0 20px 0px;
	display: block;
}
.career-center .article-meta {
	font-size: 1rem;
}


/* CONTACT */



/* PRELOADER */

#preloader {
	display: none;
}
.loading #preloader {
	display: block !important;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #E7E6E2;
	z-index: 99999;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#preloader #preload-inner {
	width: 300px;
	height: 150px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 25vh;
	text-align: center;
}
